<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Direct to me</title>
  <style>
    [v-cloak] {
      display: none
    }
  </style>
  <link rel="dns-prefetch" href="https://cdn.jsdelivr.net/">
  <link rel="preconnect" href="https://cdn.jsdelivr.net/">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.2/css/all.min.css">
</head>

<body style="margin:3rem auto;max-width:1050px;">
  <main id="dtm" v-cloak>
    <img src="logo.png" style="width: 250px;" alt="">
    <form action="/new" method="GET" target="_blank">
      <div class="field">
        <label class="label">From</label>
        <div class="control">
          <input class="input" type="text" placeholder="test-link" name="from" v-model="form.new.from">
        </div>
      </div>
      <div class="field">
        <label class="label">Redirect user to</label>
        <div class="control">
          <input class="input" type="text" placeholder="http://example.com/" name="after" v-model="form.new.after">
        </div>
      </div>
      <div class="field" style="padding-left:.8rem;border-left:.2rem rgba(0,0,0,.1) solid;">
        <div class="field">
          <div class="control">
            <label class="radio">
              <input type="radio" :value="false" v-model="form.new._.proMode">
              Classic settings
            </label>
            <label class="radio">
              <input type="radio" :value="true" v-model="form.new._.proMode">
              Advanced settings, using the <a href="https://golang.org/pkg/text/template/" target="_blank">template</a>
            </label>
          </div>
        </div>
        <div v-if="form.new._.proMode" class="field">
          <div class="field">
            <label class="label">URL params template</label>
            <div class="control">
              <input class="input" type="text"
                placeholder="http://example.com/?name={{.product_name | urlescaper | attrescaper}}" name="urlTemplate"
                v-model="form.new.urlTemplate">
            </div>
          </div>
          <div class="field">
            <label class="label">Method template</label>
            <div class="control">
              <input class="input" type="text" placeholder="POST" name="methodTemplate"
                v-model="form.new.methodTemplate">
            </div>
          </div>
          <div class="field">
            <label class="label">Headers template</label>
            <div class="control">
              <textarea class="textarea" type="textarea"
                placeholder="Authorization: {{.token}}&NewLine;X-Secret: {{.secret}}" name="headersTemplate"
                v-model="form.new.headersTemplate"></textarea>
            </div>
          </div>
          <div class="field">
            <label class="label">Body template</label>
            <div class="control">
              <textarea class="textarea" rows="8" type="textarea"
                placeholder='{&NewLine;&Tab;"name": {{.product.buyer.name}},&NewLine;&Tab;"phone": {{.product.delivery_data.phone}},&NewLine;&Tab;"email": {{.product.buyer.email}}&NewLine;}'
                name="bodyTemplate" v-model="form.new.bodyTemplate"></textarea>
            </div>
          </div>
        </div>
        <div v-else="form.new._.proMode" class="field">
          <div class="field">
            <label class="label">Send data as JSON to</label>
            <div class="control">
              <input class="input" type="text" placeholder="http://api.example.com/api-gate/important-endpoint"
                name="to" v-model="form.new.to">
            </div>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <input class="button is-success" type="submit" value="Submit">
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <h3 class="title is-6">
              <a @click="modal.usagePreview.active = true">
                <i class="fas fa-question-circle"></i> How it works
              </a>
            </h3>
          </div>
        </div>
      </div>
    </form>
    <!-- Modals -->
    <div :class="modal.usagePreview.active ? 'modal is-active' : 'modal'">
      <div class="modal-background" @click="modal.usagePreview.active = false"></div>
      <div class="modal-content" style="width:80vw;">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <span style="display:block;padding-left:0rem;font-family:monospace;"><b>Scenario:</b> Redirect data to
                other place</span>
              <span style="display:block;padding-left:2rem;font-family:monospace;"><b>When</b> the browser or other
                program sends data to <code>{{whereWeAt}}/{{form.new.from}}</code> with any method and format</span>
              <span style="display:block;padding-left:2rem;font-family:monospace;"><b>Then</b> Direct To Me service
                parse input data in any format (query param, form, json, xml, protobuf, messagepack, yaml)</span>
              <span v-if="form.new._.proMode">
                <span style="display:block;padding-left:2rem;font-family:monospace;"><b>Then</b> Direct To Me service
                  convert data as you define into request like:</span>
                <span style="display:block;padding-left:4rem;font-family:monospace;">{{methodTemplate}}
                  {{form.new.urlTemplate}} HTTP/1.1</span>
                <span style="display:block;padding-left:4rem;font-family:monospace;">{{form.new.headersTemplate}}</span>
                <span style="display:block;padding-left:4rem;font-family:monospace;"> </span>
                <span style="display:block;padding-left:4rem;font-family:monospace;">{{form.new.bodyTemplate}}</span>
                <span style="display:block;padding-left:2rem;font-family:monospace;"><b>Then</b> Direct To Me service
                  send data to <code>{{form.new.to || 'http://nowhere.local'}}</code></span>
              </span>
              <span v-else="form.new._.proMode">
                <span style="display:block;padding-left:2rem;font-family:monospace;"><b>Then</b> Direct To Me service
                  all send data as JSON in body to <code>{{form.new.to || 'http://nowhere.local'}}</code></span>
              </span>
              <span style="display:block;padding-left:2rem;font-family:monospace;"><b>And</b> someone will redirected
                with GET to <code>{{form.new.after || 'http://nowhere.local'}}</code></span>
            </div>
          </div>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="modal.usagePreview.active = false"></button>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <script>
    const SFV = "savedFormsV1"
    app = Vue.createApp({
      data: function () {
        return {
          whereWeAt: location.origin,
          form: {
            new: {
              from: "",
              to: "",
              after: "",
              urlTemplate: "",
              methodTemplate: "",
              headersTemplate: "",
              bodyTemplate: "",
              _: { proMode: false }
            }
          },
          modal: {
            usagePreview: {
              active: false
            }
          }
        }
      },
      mounted() {
        if (localStorage[SFV]) {
          this.form = JSON.parse(localStorage[SFV]);
        }
      },
      watch: {
        form(newForm) {

        }
      }
    }).mount('#dtm')
    setInterval(function () {
      localStorage[SFV] = JSON.stringify(app.form);
    }, 1000)
  </script>
</body>

</html>